.container {
  border-spacing: 0 4px;
  font-size: 0.75rem;
  width: 100%;

  tr {
    background: rgb(254, 255, 255);
  }

  th,
  td {
    padding: 1rem 2rem;
    text-align: left;
  }

  th {
    color: rgb(126, 62, 105);
    text-transform: uppercase;
  }
}
